{% extends 'layout.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
{% parent %}
    <link rel="stylesheet" href="../css/index.css">

    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js" charset="utf-8"></script>
    <script src="http://cdn.bootcss.com/systemjs/0.20.2/system.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/tags.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<x-praise></x-praise>
    <script type="text/javascript">
      SystemJS.config({
            baseURL: '/scripts'
        });
        SystemJS.import('index.js').then(function(m) {
          console.log(m);
        $.extend({
                thumb: m.default.Thumb
        });
        callBack();
    });
    function callBack(){
         var f = new $.thumb(0, $('.hand'));
         f.clickAction()
    }
    </script>
{% endblock %}
